<!DOCTYPE html>
<html lang="en">
  {{ template "header" .Header }}
  <body>
    <div
      id="content"
      class="max-w-sm flex m-auto h-[800px] justify-center border-2 border-red-500"
    >
      <div class="flex justify-center items-center flex-col">
        <div>
          <h1 class="pb-5 text-6xl">Home</h1>
          {{if .Name}}
          <h1 class="pb-5 text-6xl">{{.Name}}</h1>
          {{end}}
        </div>
        <div class="justify-center items-center flex flex-col"></div>
      </div>
    </div>
  </body>
</html>
