<!DOCTYPE html>
<html lang="en">
  {{ template "header" . }}
  <body>
    {{template "nav" .}}
    <div
      id="content"
      class="max-w-sm flex m-auto h-[800px] justify-center border-2 border-red-500"
    >
      <div class="flex justify-center items-center flex-col">
        <div>
          <h1 class="pb-5 text-6xl">Login</h1>
        </div>
        <div class="justify-center items-center flex flex-col">
          <form hx-post="/auth/login" hx-target="#content" hx-swap="outerHTML">
            <div class="flex justify-between pb-4">
              <label for="email">Email: </label>
              <input
                type="email"
                name="email"
                id="email"
                class="border-2 border-blue-400"
              />
            </div>
            <div class="flex justify-between pb-4">
              <label for="password">password: </label>
              <input
                type="password"
                name="password"
                id="password"
                class="border-2 border-blue-400"
              />
            </div>
            <button class="w-full mx-auto">Login</button>
          </form>
          <p class="underline"><a href="/signup">not a user? create user</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
