<!DOCTYPE html>
<html lang="en">
  {{ template "header" . }}
  <body>
    <div
      id="content"
      class="max-w-sm flex m-auto h-[800px] justify-center border-2 border-red-500"
    >
      <div class="flex justify-center items-center flex-col">
        <div>
          <script>
            var loc = window.location
            var uri = 'ws:'
            if (loc.protocol === 'https:') {
              uri = 'wss:'
            }
            uri += '//' + loc.host
            uri += '/ws'
            ws = new WebSocket(uri)
            ws.onopen = function () {
              console.log('Connected')
            }
            ws.onmessage = function (evt) {
              var out = document.getElementById('#count')
              out.innerHTML = evt.data
            }
            ws.send('Hello, Server!')
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
